body {
  background-color: #d2e5f3;
}

#header > h2 {
  margin-bottom: 6px;
}

a.link,
.toggle {
  text-decoration: underline;
}

a.link:visited,
.toggle:visited {
  text-decoration: none;
  color: black;
}

a.link:hover,
.toggle:hover {
  text-decoration: none;
  color: white;
}

.activeItem {
  font-weight: bold;
  color: white;
}

#container {
  background-color: #9dc52b;
  padding: 1em;
}

#container,
#mainMenu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.menuDiv {
  background-color: #9dc52b;
  width: 2.6em;
  margin-bottom: 1em;
}

.appContainer {
  display: flex;
  flex-wrap: wrap;
}

div#leftContent {
  width: 46%;
  padding-right: 1em;
  background-color: #9dc52b;
}

div#rightContent {
  width: 46%;
  padding-left: 1em;
  background-color: #9dc52b;
}

#rightImg {
  width: 100%;
}

@media only screen and (max-width: 46em) {
  #container {
    flex-direction: column;
  }
  div#leftContent,
  div#rightContent {
    width: 98%;
    padding: 0em;
  }
}
