body {
  background-color: #d2e5f3;
}

div {
  background-color: #9dc52b;
}

#header > h2 {
  margin-bottom: 6px;
}

a.link,
.toggle {
  text-decoration: underline;
}

a.link:visited,
.toggle:visited {
  text-decoration: none;
  color: black;
}

a.link:hover,
.toggle:hover {
  text-decoration: none;
  color: white;
}

.activeItem {
  font-weight: bold;
  color: white;
}
